{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <h2>Start Your Blogging Journey Today</h2>
    <p>
        Have ideas, stories, or experiences you want to share with the world?
        Create your own blog and connect with people through your writing.
        Whether it's tech, lifestyle, gaming, sports, or personal experiences,
        your voice deserves to be heard.
    </p>

    <a href="{{ url_for('register') }}">
        <button class="addblog">Get Started</button>
    </a>
</section>
{% endblock %}


